.card {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .body-card {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
  }
  .container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    transform-style: preserve-3d;
    align-self: center;
    height: 50vh;
    width: 20vw;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  
  .sneaker {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sneaker img {
    width: 20vh;
    z-index: 2;
    transition: all 0.75s ease-out;
  }
  .circle {
    width: 15vh;
    height: 15vh;
    background: linear-gradient(
      to right,
      rgba(242, 165, 232, 0.75),
      rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  
  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
  }
  .info h1 {
    font-size: 150%;
    transition: all 0.75s ease-out;
  }
  .info h3 {
    font-size: 100%;
    // padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }
  .sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
  }
  .sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
  }
  button.active {
    background: #585858;
    color: white;
  }
  .purchase {
    // margin-top: 5rem;
    transition: all 0.75s ease-out;
  }
  .purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: rgb(242, 165, 232);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
  }
  



  .card-1 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    width: 300px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  }
  .card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  
  }
  .card-stats {
    grid-area: stats; 
  }
  .card-image {
    grid-area: image;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
  }

  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
  }
  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
  }
  .card-1:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card-1 {
  
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }

  .card-11 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 80px;
    grid-template-areas:"text" "stats";
    border-radius: 18px;
    width: 300px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  }
  .card-11:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card-11 {
  
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }


  .card-51{

    $off_white:   #F8FAFF;
    $bright_pink: #F4157E;
    $dull_pink:   #CD106E;
    $white: #fff;
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    html,
    body {
        background: #12c2e9; /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to right,
            #f64f59,
            #c471ed,
            #12c2e9
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to right,
            #f64f59,
            #c471ed,
            #12c2e9
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
        min-height: 100%;
        font-family: "Open sans", sans-serif;
    }
    
    /*--------------------
    container
    --------------------*/
    .wrap {
        margin: 150px auto 30px;
        position: relative;
        width: 460px;
        background: $white;
        border-radius: 15px;
        padding: 272px 45px 30px;
        box-shadow: 0 10px 40px hsla(0, 0, 0, 0.1);
    }
    
    /*--------------------
    confirmation
    --------------------*/
    .confirmation {
        position: absolute;
        top: 96px;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 300ms ease 300ms;
        &.visible {
            opacity: 1;
        }
    }
    
    .all-good {
        display: block;
        margin: 40px auto 0;
        width: 60px;
    }
    .apple-logo {
        fill: $white;
        display: block;
        margin: 0 auto;
      width: 80px;
    }
    
    .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        &.circle {
            -webkit-animation: dash 0.9s ease-in-out;
            animation: dash 0.9s ease-in-out;
        }
        &.line {
            stroke-dashoffset: 1000;
            -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
            animation: dash 0.9s 0.35s ease-in-out forwards;
        }
        &.check {
            stroke-dashoffset: -100;
            -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
            animation: dash-check 0.9s 0.35s ease-in-out forwards;
        }
    }
    
    p {
        text-align: center;
        margin: 20px 0 60px;
        font-size: 1.25em;
        &.success {
            color: #777;
        }
    }
    
    @-webkit-keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    
    @keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    
    @-webkit-keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }
        100% {
            stroke-dashoffset: 900;
        }
    }
    
    @keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }
        100% {
            stroke-dashoffset: 900;
        }
    }
    /*--------------------
    Buttons
    --------------------*/
    .button-cnt {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    button {
        border: none;
      position: absolute;
      height: 64px;
      z-index: 2;
        top: 300px;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        transition: all 150ms ease;
        outline: none !important;
    }
    
    .primary-cta {
          background: $bright_pink;
            border-radius: 10px;
          box-shadow: 0 10px 60px -10px $dull_pink;
          color: white;
            padding: 0 24px;
            pointer-events: auto;
          width: 250px;
            z-index: 9;
            transition: all 150ms ease;
            will-change: transform, box-shadow, background;
            &.hidden {
                opacity: 0;
                pointer-events: none;
        }
    }
    
    .secondary-cta {
          background: $bright_pink;
            border-radius: 10px;
            padding: 0 24px;
            pointer-events: auto;
          width: 150px;
            z-index: 9;
            transition: all 150ms ease;
            will-change: transform, box-shadow, background;
            position: relative;
            &--done {
                background: transparent;
                color: $bright_pink;
            }
            &--send {
                border:1px solid $bright_pink;
                box-shadow: 0 10px 60px -10px $dull_pink;
                color: $white;
            }
            &.hidden {
                opacity: 0;
                pointer-events: none;
        }
    }
    
    
    /*--------------------
    Form
    --------------------*/
    .form {
        fieldset {
            border: none;
            padding: 10px 0;
    
            label {
                display: inline-block;
                color: #444;
                font-size: 12px;
                padding: 4px;
                margin: 5px;
            }
    
            input {
                background-color: $white;
                width: 100%;
                height: 38px;
                color: #000;
                padding: 8px;
                border-radius: 5px;
                font-size: 16px;
                outline: none !important;
                border: 1px solid hsla(0, 0, 0, 0.3);
                position: absolute;
                right: 24px;
                box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
                &.input-card-info {
                    display: inline-block;
                    width: 300px;
                    &--lg {
                        height: 100px;
                    }
                }
    
            }
            .select {
                position: relative;
                &::after {
                    content: "";
                    border-top: 8px solid #222;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    position: absolute;
                    z-index: 2;
                    top: 14px;
                    right: 10px;
                    pointer-events: none;
                }
                select {
                    appearance: none;
                    position: absolute;
                    padding: 0;
                    border: none;
                    width: 100%;
                    outline: none !important;
                    top: 6px;
                    left: 6px;
                    background: none;
                    :-moz-focusring {
                        color: transparent;
                        text-shadow: 0 0 0 #000;
                    }
                }
            }
        }
    }
    
    /*--------------------
    Credit Card
    --------------------*/
    .gift-card-box {
        perspective: 1000;
        width: 400px;
        height: 280px;
        position: absolute;
        top: -112px;
        left: 50%;
        transform: translateX(-50%);
    
        .flip {
            transform: rotateY(180deg);
        }
    
        .front {
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/341817/imitation_apple_design1.jpg');
            background-size: contain;
        }
        
        .front,
        .back {
            width: 400px;
            height: 250px;
            border-radius: 15px;
            backface-visibility: hidden;
            position: absolute;
            color: #fff;
            font-family: sans-serif;
            top: 0;
            left: 0;
            box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);
            &.back {
                background: linear-gradient(269.85deg, #F23C2D 1.71%, #F8A80C 99.93%);
            }
        }
    
        .card-5 {
            transition: 600ms;
            transform-style: preserve-3d;
            position: relative;
            transition: all 1s ease-in-out;
            &.whoosh {
                animation: whooshAnimation 2400ms;
            }
        }
    
        @keyframes whooshAnimation {
            0% {
            }
            50% {
                transform: translateY(-150vh);
            }
            75% {
                transform: translateX(150vw);
            }
            100% {
            }
        }
    
        .front-logo-cnt {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .font-logo {
            width: 300px;
        }
    
        .card-description {
            font-family: sans-serif;
            line-height: 1.4;
            text-align: center;
        }
        .front {
            z-index: 2;
            transform: rotateY(0deg);
        }
        .back {
            transform: rotateY(180deg);
        }
    }
    #btn-card-flip:hover{
          //  transform:perspective(7000px);
        
           // transform: translateZ(70px);
             // transform: rotateZ(-45deg);
               transform:translateY(2vh);
    }
  }

  //rating
  .star {
    position: relative;
    display: inline-block;
    font-size: 150%;
    color: #d3d3d3;
  }
  
  .full {
    //color: var(--col2vl);
    //color: var(--col4);
    color: rgb(255, 215, 0);
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    //color: var(--col4);
    color: rgb(255, 215, 0);
  }