<div class = "main">
    <div class = "start">
        <div class = "starttop">
            <h1>News and<br>Blog</h1>
            <div class = "startimg">
                <img src = "../../assets/images/Newsandblog.png" height="200">
            </div>
        </div>  
        <div class = "startbottom">
            <div class="search">
                <input type="text" placeholder="SEARCH NEWS AND BLOG">
            </div>
        </div>      
    </div>
    <div class = "middle">
        <div class = "filter">
            <h1>This is filter</h1>
        </div>
        <div class = "display">
            
        </div>
    </div>
    
</div>

