<!-- <p>appointments works!</p> -->
<div class = "main">
    <div class = "start">
        <div class = "lstart">
            <div class = "options">
                
            </div>
            <div class = "options">
                <div>
                    <img src="">
                </div>
            </div>
        </div>
        <div class = "rstart">
            
        </div>
    </div>
    <div class = "middle">
        <div class="search">
            <input type="text" placeholder="  Search Doctor">
        </div>
        <div class = "doccards">
            <div class = "docs">

            </div>
            <div class = "docs">

            </div>
            <div class = "docs">

            </div>
        </div>
        <div class = "doccards">
            <div class = "docs">

            </div>
            <div class = "docs">

            </div>
            <div class = "docs">

            </div>
        </div>
    </div>
    <div class ="end">

    </div>
</div>