<!-- <p>ngos works!</p> -->
<div class="main">
    <div class="start">
        <div class="lstarttop">
            <div class="lstartcontent">
                <!-- <h1>How<br>To....</h1> -->
                <p>NGOs</p>
            </div>
            <div class="startpic">
                <!-- <img src="../../assets/images/Howtopagefront.png" > -->
            </div>
            <div class="search">
                <input type="text" placeholder="SEARCH NGOs">
            </div>
        </div>
    </div>
</div>