
<div class = "main">
    <div class = "header">
        
    </div>
    <div class = "maincontent">
        <div class = "filter">

        </div>
        <div class = "products">
            <div class = "product" *ngFor = "let x of products; let i = index">
                <app-cards (valueChange)='addtocart($event)' [type] = "1" [id] = "i" [prod_title] = "x.payload.doc.data().name" [prod_desc] = "x.payload.doc.data().description" [prod_soldby] = "x.payload.doc.data().soldby" [prod_price] = "x.payload.doc.data().price" [prod_rating] = "x.payload.doc.data().rating" [prod_id] = "x.payload.doc.id"></app-cards>
            </div>
        </div>
    </div>
</div>