<div class = "main">
    <div class = "images">
        <div class = "imgtop"></div>

        <div class = "whatwedopage">
            <div class = "whatwedoimg">
                <div class = "title2">
                    What do we do?
                </div>
                <div class = "infowhatwedo">
                    We are a community of people creating a safe space for exploring, discussing and spreading awareness about menstrual health and hygeine.
                </div>
            </div>
        </div>
        
        <!-- <div class = "randomimg"></div> -->
    </div>
    <div class = "maincont">
        <div class = "toptrans">
            <div class = "content">
                <div class = "name">
                    OvaryAct
                </div>
                <div class="tagline">
                    A safe space for menstrual health
                </div>
                <div class = "custbutton">
                    Shop now
                </div>
            </div>
        </div>
        <div class = "infosec">
            <div class = "name2">
                Why is mentrual health and awareness important?
            </div>
            <div class = "info">
                Although, menstruation is a natural process, it is barely talked about in the society due to it being considered taboo.
                Million of people go through this process, being completly unaware of what is going on in their body.
                This can often lead to disorders and diseases, if not managed.
                Menstruation is still not a gender neutral discussion and not a lot of queer spaces are available to discuss the same.
                In order to make the world more aware and inclusive, mentrual health and awareness is highly important.
            </div>
        </div>
        <div class = "whatwedo">

        </div>
        <div class = "spaces">
            <div class = "name2">
                Explore our spaces
            </div>

            <div class = "spacespace">
                <div class = "space" *ngFor = "let x of [1, 2, 3, 4, 5, 6]">
                    <div class = "spaceimg" style = "background-image: url(../../assets/images/images.jpg);"></div>
                    <div class = "namespace"></div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>